@font-face {
    font-family: SulphurPoint-Regular;
    src: url('../../../assets/fonts/SulphurPoint-Regular.otf');
}

.modal-wrapper
{
    position: fixed;
    height: 40%;
    width: 40%;
    top: 20%;
    left: 30%;
}

.modal-content
{
    background: rgb(64,16,167);
    background: linear-gradient(90deg, rgba(64,16,167,0.45451684091605393) 0%, rgba(0,255,222,0.404096672848827) 50%, rgba(241,255,5,0.33967090254070376) 100%);
    padding: 40px;
    border: 1px solid black;
    margin-top: 1px;
    border-radius: 0 0 50px 50px;
}

.modal-header
{
    background: rgb(64,16,167);
    background: linear-gradient(90deg, rgba(64,16,167,0.45451684091605393) 0%, rgba(0,255,222,0.404096672848827) 50%, rgba(241,255,5,0.33967090254070376) 100%);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border: 1px solid black;
}

.modal-overlay
{
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    background: rgba(88, 88, 88, 0.596);
}

#contactForm
{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: SulphurPoint-Regular;
    font-size: 22px;
}

#contactForm > input, textarea
{
    width: 80%;
}

#contactForm > textarea
{
    resize: none;
    overflow-y: scroll;
}

.modal-close-button
{
    -webkit-appearance: none;
    background: none;
    border:none;
    font-size: 34px;
}

.modal-close-button:hover
{
    color: red;
}

#contactformBtn
{
    margin-top: 20px;
    background: green;
    border-radius: 50px;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }
  ::-webkit-scrollbar-button {
    width: 1px;
    height: 1px;
  }
  ::-webkit-scrollbar-thumb {
    background: #d8ec1e;
    border: 0px none #ffffff;
    border-radius: 50px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #d2e934;
  }
  ::-webkit-scrollbar-thumb:active {
    background: #ea6c06;
  }
  ::-webkit-scrollbar-track {
    background: #70e1f1;
    border: 0px none #ffffff;
  }
  ::-webkit-scrollbar-track:hover {
    background: #5ff3f8;
  }
  ::-webkit-scrollbar-track:active {
    background: #0d0363;
  }
  ::-webkit-scrollbar-corner {
    background: transparent;
  }


@media(max-width: 1254px){
    .modal-wrapper
    {
        min-width: 80vw;
        left: 10vw;
    }

    .modal-content
    {
        min-width: 100%;
    }
}
