body
{
    overflow-x: hidden;
}

#landingContents
{
    background: rgb(167,30,16);
    background: linear-gradient(90deg, rgba(167,30,16,1) 0%, rgba(0,212,255,0.6449930313922444) 50%, rgba(255,218,5,1) 100%);
    min-height: 100vh;
    min-width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

#svgContainer
{
    min-height: 100%;
    min-width: 100%;
    background: url('../assets/images/minasvg.svg');
    background-size: cover;
    position: absolute;
    opacity: 0.3;
    z-index: -1000;
}


#landingContents > .container
{
    flex-basis: 30%;
    text-align: center;
}


.logoContainer
{
    order: 1;
}

.introContainer
{
    order: 2;
    margin-top: 30px;
}

.selfieContainer
{
    order: 6;
}

.resumeContainer
{
    order: 7;
}

.portfolioContainer
{
    order: 8;
    flex-direction: column;
    margin: 20px 0;
}

.contactContainer
{
    order: 9;
}

.linksContainer
{
    order: 3;
    padding: 30px;
}

.locationContainer
{
    order: 4;
    padding: 30px;
}

.bioContainer
{
    order: 6;
    padding: 30px;
}

@media(max-width: 930px)
{
    #landingContents > .container
    {
        flex-basis: 100%;
    }

    .portfolioContainer
    {
        order: 9;
    }

    .contactContainer
    {
        order: 8;
        margin-top: 20px;
    }
}


